{
  "presets": [
    [
      "env"
    ],
    "react",
    "flow",
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
